.title {
  -webkit-animation-duration: 1s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.cover{
  display: flex;
  align-items: center;
  
  flex-direction: column;
  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding-bottom:15%;
    border-color: black;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  
}
.title{
  font-family: 'Shadows Into Light', cursive;
  color:white;
  font-size: 100px;
  text-shadow: 20px 20px rgba(12, 1, 1, 0.2);
}
.title h1{
  margin: 20px;
  margin-top: 60px;
}

  .explore-button{
   border-color: black;
   padding-left: 180px;
   padding-right: 180px;
   font-family: 'Shadows Into Light', cursive;
   font-size: 30px;
   background-color:transparent;
  }
  .explore-2 button{
    margin-top: 20px;
    
    background-color: transparent;
    border-color: black;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    margin-right: 20px;
   }
  
  .explore-button:hover{
   color:white;
    box-shadow: 10px 10px rgba(8, 8, 8, 0.5);
  }
  .cover{
    margin-bottom: 0px;
    
  }
  .content{
    margin-top: 0px;
    border-style: solid;
    border-color: black;
    
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

    margin: 0;
    padding:0;
    color: black;
  }
  .total{
    display: flex;
    flex-direction: column;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: black;
  }
  .cards{
    display: grid;
    color:black;
    grid-template-columns: 50% 50%;
    
  }
  .card-1{
    justify-self: center;
    padding:10%;
   
    margin-bottom: 50px;
    background-color: rgba(248, 245, 245, 0.1);
color:white;

    margin:50px;
    
    border-color: black;
    border-style: double;
  }
  
  .stuff h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size:72px;
    color: black;
   
  }
  
  
  .card-top{
    display: block;
    
  }
  .card-bottom{
    color:black;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
  }
  .card-1:hover{
    background-color: rgba(248, 245, 245, 0.5);
    transform: scale(1.1);
    box-shadow: 10px 10px rgba(8, 8, 8, 0.5);
  }
  .navbar{
    background-color: black;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: dashed;
    border-color: black;
    flex-direction: row;
    height: 60px;
  }
  .logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
    
  }
  .logo{
    color:white;
    font-family: 'Pacifico', cursive;
     
  }
  .logo h1{
    text-shadow: 10px 10px rgba(252, 244, 244,0.3);
    font-size: 40px;
    margin-top: 0px;
  }
  .drop{
    display: flex;
    font-family: 'Shadows Into Light', cursive;   
    color:white;
    
    }
    .drop-menu{
      margin-right: 40px;
      font-size: 20px;
    }

  .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    min-height: 30vh;
    font-family: 'Courgette', cursive;
    font-size: 30px;
  }
  .drop-menu:hover{
    text-shadow:10px 5px rgba(250, 246, 246, 0.5);
    transform: scale(1.1);
  }
  a:link {
    color: transparent;
  }
  
  /* visited link */
  a:visited {
    color: transparent;
  }
  
  /* mouse over link */
  a:hover {
    color: transparent;
  }
  
  /* selected link */
  a:active {
    color: transparent;
  }
  .map{
    display: flex;
    height: 100vh;
    border-color: black;
    border-style: solid;
    justify-content: space-around;
}
.nearby{
  background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Pacifico', cursive;

}
.location{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  
  height: 5vh;
  margin: 20px;
  
}
.location input{
  border-color: black;
  border-style:solid ;
  width: 51%;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 10px 10px rgba(12, 1, 1, 0.2);
}
.location button{
  border-color: black;
  border-style:solid ;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 10px 10px rgba(12, 1, 1, 0.2);
}
.nearby h1{
  display: flex;
  font-size: 60px;
  justify-content: center;
}

.mapouter{
  border-color: black;
  border-style: dotted;
  box-shadow: 10px 10px rgba(12, 1, 1, 0.2);
}
.nearby-cards{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(253, 242, 242, 0.527);
    border-color: black;
  border-style: dotted;
  padding: 10px;
  flex-wrap: wrap;
  flex-basis:20%;
  
  margin:20px;
}
.seller-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.seller-details h5{
  margin: 2px;
font-size: large;
}
.nearby-shops{
  display: flex;
  justify-content: space-evenly;
  margin:20px;
}
.nearby-cards:hover{
  box-shadow: 10px 10px rgba(17, 16, 16, 0.527);
}
#map {
  height: 50vh;
  width: 100%;
  z-index: 100;
  justify-content: center;
}


@media screen and (max-width:800px) {
  html{
    width: max-content;
    align-content: center;
  }

  
  #nav-search{
    visibility: hidden;
  }
  .navbar{
    display: flex;
    flex-direction: column;
  }
  .cover{
    height:100vh;
  }
  
}