.navbar{
    background-color: black;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: dashed;
    border-color: gray;
    flex-direction: row;
    height: 60px;
  }
  a:link {
    color: transparent;
  }
  
  /* visited link */
  a:visited {
    color: transparent;
  }
  
  /* mouse over link */
  a:hover {
    color: transparent;
  }
  
  /* selected link */
  a:active {
    color: transparent;
  }
  .logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
    
  }
  .logo img{
    height: 60px;
    width: 60px;
  }
  .logo{
    color:white;
    font-family: 'Pacifico', cursive;
     
  }
  .logo h1{
    text-shadow: 10px 10px rgba(252, 244, 244,0.3);
    font-size: 40px;
    margin-top: 0px;
  }
  .drop{
    display: flex;
    font-family: 'Shadows Into Light', cursive;   
    color:white;
    
    }
    .drop-menu{
      margin-right: 40px;
      font-size: 20px;
    }
.total{
    display: flex;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left{
    background-color: rgba(241, 234, 234, 0.205);
    height: auto;
    width: 30%;
    
}
.right{
    width:70%;
    border-color: black;
    border-style: solid;
    
}
#doc-image{
  width:50%;
  
}
.content-images{
  display: flex;
  flex-direction: column;
}
.item{
  display: flex;
  justify-content: space-between;
  border-bottom-style:dotted;
  border-color: black;
  border-width: 0.5px;
  
  
}
.item-photo{
  
  border-style:dashed ;
  
  border-color: black;
  margin: 15px;
  border-width: 0.5px;
  border-radius: 20%;
  box-shadow: 5px 5px rgba(68, 59, 59, 0.534);
}
.item-details {
  
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}
.item-details h2{
  font-family: Pacifico;
}
.buy{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}
.buy button{
  font-family: 'Shadows Into Light', cursive;   
  margin:5px;
  font-size: 20px;
  background-color: rgba(247, 239, 239, 0.493);
  border-color: rgba(0, 0, 0, 0.61);
  border-radius: 10%;
}
.buy button:hover{
  box-shadow: 5px 5px rgba(0, 0, 0, 0.514);
}
#left-heading{
  font-family: 'Shadows Into Light', cursive;
  font-size: 72px;
  
}
.left-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#doc-image{
  border-color: black;
  border-radius: 10%;
  border-style: dashed;
  border-width: 0.5px;
  width: 80%;
  height: 80%;
}
#left-heading{
  margin: 5%;
}
#doc-image:hover{
  transform:  scale(1.2);
  overflow: hidden;
}
.left-content{
  position: sticky;
  top:0vh;
}
